html {
    margin: 0;
    height: 100%;
    color: #000;
    font-size: 18px;
    font-family: "Simsun";
}

p {
    margin: 10px 0 0
}

select {
    height: 20px;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: 50px 50px 20px;
    width: auto;
    height: auto;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgb(10 10 10/10%), 0 0 0 1px rgb(10 10 10/2%);
}

.content {
    padding-bottom: 50px
}

.license a {
    color: #666;
    text-decoration: none;
    font-size: .6em
}

@media (max-width: 640px) {

    .page,
    html {
        background-image: none
    }

    .page {
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        transform: translateY(20%);
        border-radius: unset;
        box-shadow: unset
    }
}