body {

    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 5px;
    background-color: #321c5d;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;

    background: linear-gradient(135deg, rgb(26, 26, 76) 0%, rgb(76, 26, 76) 100%);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 15px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-icon:hover {
    background-color: #e0e0e0;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8);
    padding: 10px;
    z-index: 1000;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}


.footer {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 30px;
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-section-title {
    font-weight: bold;
    color: #b7a000;
    border-bottom: 2px solid #b7a000;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d2353;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(183 160 0);
    flex: 1 1 calc(25% - 10px);
    box-sizing: border-box;

}

.nav-item img {
    width: 24px;
    height: 24px;
}


.nav-item a {
    color: #b7a000;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-item {
        flex: 1 1 calc(40% - 10px);
    }

    @media (max-width: 800px) {
        .nav-item {
            flex: 1 1 calc(50% - 10px);
        }

    }
}