@font-face {
    font-family: "icon";
    src: url("../font/icon.woff2") format("woff2");
}

i.icon {
    font-family: "icon";
    font-style: normal;
}

i.icon.icon-email:before {
    content: "\e900";
}

i.icon.icon-telegram:before {
    content: "\e901";
}

i.icon.icon-blog:before {
    content: "\e902";
}

i.icon.icon-twitter:before {
    content: "\e903";
}

.icon-chevron-right:before {
    content: "\e904";
}

.icon-plus:before {
    content: "\e905";
}